---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
/*@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600);*/



// Our variables
$base-font-family:	Inconsolata, sans-serif;
$base-font-size:	18px;
$base-font-weight:	400;
$small-font-size: 	$base-font-size * 0.875;
$base-line-height:	1.8;

$primary-text:      #212121;
$secondary-text:	#767676;
$background-color:	#FAFAFA;
$link-color:		#1974d1;

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	border: 0;
	outline:0;
	color: $primary-text;
	background: $background-color;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
}

h1{
	line-height: 2.5rem;
}

a{
	text-decoration: none;
	color: $link-color;
}

b, strong{
	font-weight: 600;
}

a:hover{
	text-decoration: underline;
}

p{
	padding-bottom:1rem;
}

ol,ul{
	margin-left:2rem;
	padding-bottom: 1rem;
}

.content{
	width:100%;
	max-width: 45rem;
	padding:0 1rem;
	margin:0 auto;
}

article{
	min-height: 50vh;
	display: inline-block;
}

h2 a{
	color:$primary-text;
}

#masthead{
	height: 100vh;
	display: flex;
	align-items: center;
}

.image-figure{	
	padding-bottom: 1.5rem;

	a{
		cursor:zoom-in;
	}
	
	img{
		max-height: 95vh;
		width:auto;
		max-width: 100%;
		display: block;
		box-shadow: 0px 0px 2px rgba(0,0,0,.4);
	}

	figcaption{
		font-size: .75rem;
		line-height: 1.4;
		color: $secondary-text;
		padding-top: .25rem;
	}
}

#lightbox-shade{
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display: none;
	align-items: center;
	justify-content: center;
	cursor:zoom-out;
	background: rgba(255,255,255,.8);
	background: -webkit-radial-gradient(rgba(255,255,255,.8), rgba(0,0,0,.6)); /* Safari 5.1 to 6.0 */
	background:	   -moz-radial-gradient(rgba(255,255,255,.8), rgba(0,0,0,.6)); /* For Firefox 3.6 to 15 */
	background:      -o-radial-gradient(rgba(255,255,255,.8), rgba(0,0,0,.6)); /* For Opera 11.6 to 12.0 */
	background: 		radial-gradient(rgba(255,255,255,.8), rgba(0,0,0,.6)); /* Standard syntax */
}

#lightbox{
	display: inline-block;
	background:$background-color;
	box-shadow: 0 10px 40px rgba(0,0,0,.4);
	border-radius:2px;
	overflow: hidden;
	

	img{
		display: inline-block;
		vertical-align: top;
		max-width:100%;
		max-height:90vh;
	}

	figcaption{
		padding:.5rem;
		font-size: .75rem;
		line-height: 1.4;
		color: $secondary-text;
	}
}

.post-header, .post{
	padding: 1rem 1rem 0 1rem;
}


@media screen and (min-width: 48rem) {
	.post-header{
		display: inline-block;
		width: 35%;
		vertical-align: top;
		text-align: right;
	}

	.post{
		display: inline-block;
		width: 65%;
	
		>*{
			max-width: 45rem;
		}
	}	
}
