---
---
@charset "utf-8";



/* variables */
$base-font-family:  "Open sans", sans-serif;
$base-font-size:  1rem;
$base-line-height:  2rem;

$secondary-font-family: "Inconsolata", mono;
$small-font-size:   0.875rem;
$large-font-size: 2rem;

$primary-text:      #402121;
$secondary-text:  #767676;
$background-color:  #FAFAFA;
$link-color:    #1974d1;
$disabled-text:   #AAAAAA;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  border: 0;
  outline: 0;
  color: $primary-text;
  background: $background-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  word-wrap: break-word;
}

a{
  text-decoration: none;
  color: $link-color;
}


p{
  padding-bottom: 1rem;
}

ol,ul{
  margin-left: 2rem;
  padding-bottom: 1rem;
}


button{
  border: 0;
  border-radius: 0;
  background: $background-color;
  cursor: pointer;
  font-size: $base-font-size;
  font-family: $base-font-family;

  &:hover{
    text-decoration: none;
  }
}

#cover{
  height: 100vh;
  padding: 1rem;
  display: flex;
  background: #767676 center center;
  background-size: cover;
  text-shadow: 0px 0px 10px rgba(0,0,0,.5);
  justify-content: flex-end;
  align-items: flex-end;

  div{
    margin-bottom: 2rem;
  }
}

#cover a{
  color: #FFFFFF;
  text-decoration: none
}

.image-figure{
  padding-bottom: 1.5rem;

  a{
    cursor: zoom-in;
    display: block;
  }
  
  img{
    display: block;
    width: 100%;
  }

  figcaption{
    font-size: $small-font-size;
    font-family: $secondary-font-family;
    line-height: 1.4;
    color: $secondary-text;
    padding-top: .25rem;
  }
}

.supports-touch #lightbox{
  overflow: auto !important;
}

#lightbox{
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  pointer-events: none;
  opacity: 0;
  transition: opacity .25s ease;
  will-change: transform, opacity;
  cursor: zoom-out;

  &.visible{
    pointer-events: all;
    opacity: 1;
    background: rgba(0,0,0,.9);
  }

  figcaption{
    position: fixed;
    background: rgba(255,255,255,.95);
    bottom: 0;
    right: 0;
    left: 0;
    padding: .5rem;
    font-size: .75rem;
    line-height: 1.4;
    color: $secondary-text;
  }
}

.pagination{
  display: flex;

  > * {
    flex-grow: 1;
  }
}


article{
  width: 100%;
  max-width: 640px;
  padding: 1rem;
  margin: 0 auto;
}

.post-header{
  display: flex;
  flex-direction: column;

  time{
    order: 1;
    font-family: $secondary-font-family;
    font-size: $small-font-size;
    line-height: 1;
    color: $secondary-text;
    padding-bottom: .25rem;
  }

  h1,h2{
    order: 2;
    /*padding-bottom: .25rem;*/

    a{
      color: $primary-text;
    }
  }
}

/*small screen adjustments*/
@media screen and (max-width: 48rem){
  #show-navigation{
  padding: 1rem;
  display: flex;
  align-items: center;
  font-variant: small-caps;
  border-radius: 2rem;
  background: $primary-text;
  margin: 1rem;
  color: white;
  font-family: $base-font-family;

  svg{
    margin-right: 1rem;
  }
}

#hide-navigation{
  display: none;
  background: transparent;
}

.mobile-nav-shown{
  overflow: hidden;

  ul{
    display: flex;

  }

  #hide-navigation{
    display: block;
    position: fixed;
    left: 50%;
    bottom: 1rem;
    margin-left: -1.5rem;
  }
}
  nav{
    display: flex;

    li:last-child{
      padding-right: 1rem;
    }

    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0,0,0,.9);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;    /* webkit inertial scrolling */
      display: none;
    }

    a{
      width: 75vw;
      max-width: 20rem;
      height: 80vh;
      margin: 1rem 0 0 1rem;
      border-radius: 1rem;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $background-color;
      text-shadow: 0px 0px 10px rgba(0,0,0,.5);
      font-family: $base-font-family;
      text-transform: uppercase;
      font-size: $large-font-size;
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


      &:hover{
        text-decoration: none;
      }
    }
  }

  #nav{
    &-banff{
      background: #767676 url('/images/covers/banff-small.jpg') no-repeat center center;
      background-size: cover;
    }
    &-kauai-2{
      background: #767676 url('/images/covers/kauai-2-small.jpg') no-repeat center center;
      background-size: cover;
    }
    &-cuba{
      background: #767676 url('/images/covers/cuba-small.jpg') no-repeat center center;
      background-size: cover;
    }
    &-kauai{
      background: #767676 url('/images/covers/kauai-small.jpg') no-repeat center center;
      background-size: cover;
    }
    &-iceland{
      background: #767676 url('/images/covers/iceland-small.jpg') no-repeat center center;
      background-size: cover;
    }
    &-costa-rica{
      background: #767676 url('/images/covers/costa-rica-small.jpg') no-repeat center center;
      background-size: cover;
    }
    &-singapore{
      background: #767676 url('/images/covers/singapore-small.jpg') no-repeat center center;
      background-size: cover;
    }
    &-india{
      background: #767676 url('/images/covers/india-small.jpg') no-repeat center center;
      background-size: cover;
    }
    &-thailand{
      background: #767676 url('/images/covers/thailand-small.jpg') no-repeat center center;
      background-size: cover;
    }
    &-all{
      background: #767676 url('/images/covers/bg-small.jpg') no-repeat center center;
      background-size: cover;
    }
  }
}

/*medium up*/
@media screen and (min-width: 48rem) {

  #cover{
    background: #767676 url('/images/covers/bg-medium.jpg') center center;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;

    div{
      margin-bottom: 2rem;
    }

    h1{
      font-size: 3.8rem;
      line-height: 4rem;
    }
    h2{
      font-size: 2rem;
    }
  }

  #show-navigation{
    display: none;
  }

  nav{
    justify-content: center;
    ul{
      position: relative;
      list-style: none;
      display: flex;
      background: inherit;
      flex-wrap: wrap;
      justify-content: center;
    }

    li{
      flex-basis: auto;
    }

    a{
      color: inherit;
      padding: 1rem;
      font-size: $base-font-size;

      &:hover{
        color: $link-color;
      }
    }

    button{
      display: none;
    }
  }
}
@media screen and (min-width: 80rem) {

  #cover{
    background: #767676 url('/images/covers/bg-large.jpg') center center;
    background-size: cover;
  }
}