---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
/*@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600);*/
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);


// Our variables
$base-font-family:	Inconsolata, sans-serif;
$base-font-size:	18px;
$base-font-weight:	400;
$small-font-size: 	$base-font-size * 0.875;
$base-line-height:	1.8;

$primary-text:      #212121;
$secondary-text:	#767676;
$background-color:	#FAFAFA;
$link-color:		#1974d1;

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	border: 0;
	outline:0;
	color: $primary-text;
	background: $background-color;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
}

a{
	text-decoration: none;
	color: $link-color;
}

b, strong{
	font-weight: 600;
}

a:hover{
	text-decoration: underline;
}

p{
	padding-bottom:1rem;
}

ol,ul{
	margin-left:2rem;
	padding-bottom: 1rem;
}

.content{
	width:100%;
	max-width: 45rem;
	padding:0 1rem;
	margin:0 auto;
}

article{
	min-height: 50vh;
	display: inline-block;
}

h2 a{
	color:$primary-text;
}

#masthead{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-figure{	
	padding-bottom: 1.5rem;
	
	img{
		max-height: 95vh;
		width:auto;
		max-width: 100%;
		display: block;
		cursor:zoom-in;
	}

	figcaption{
		font-size: .75rem;
		line-height: 1.4;
		color: $secondary-text;
		padding-top: .25rem;
	}
}

#lightbox-shade{
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background: rgba(255,255,255,.8);
	display: none;
	align-items: center;
	justify-content: center;
	cursor:zoom-out;
}

#lightbox{
	/*max-height: 100vh;
	max-width: 100vw;*/
	display: inline-block;
	background:$background-color;
	box-shadow: 0 10px 40px rgba(0,0,0,.4);
	border-radius:2px;
	

	img{
		display: inline-block;
		vertical-align: top;
		max-width:100%;
		max-height:80vh;
	}

	figcaption{
		padding:.5rem;
		font-size: .75rem;
		line-height: 1.4;
		color: $secondary-text;
	}
}