{%- assign trip_slug = include.post.categories[1] -%} {%- assign trip_url = "/"
| append: trip_slug | append: "/" -%} {%- assign trip_page = site.pages | where:
"url", trip_url | first -%} {%- if trip_page.day_count != false -%} {%- assign
day_offset = 1 -%} {%- if trip_page.start_at_zero -%} {%- assign day_offset = 0
-%} {%- endif -%} {%- assign trip_posts = site.categories[trip_slug] | reverse
-%} {%- assign start_date = trip_page.start_date -%} {%- if start_date == nil
-%} {%- assign first_post = trip_posts | first -%} {%- assign start_date =
first_post.date -%} {%- endif -%} {%- assign start_ts = start_date | date: "%s"
| plus: 0 -%} {%- assign post_ts = include.post.date | date: "%s" | plus: 0 -%}
{%- if post_ts >= start_ts -%} {%- assign day_number = -1 -%} {%- assign
counted_index = 0 -%} {%- for p in trip_posts -%} {%- assign p_ts = p.date |
date: "%s" | plus: 0 -%} {%- if p_ts >= start_ts -%} {%- if p.url ==
include.post.url -%} {%- assign day_number = day_offset | plus: counted_index
-%} {%- endif -%} {%- assign counted_index = counted_index | plus: 1 -%} {%-
endif -%} {%- endfor -%}
<span class="day-count">Day {{ day_number }}</span>
{%- endif -%} {%- endif -%}
