{%- assign trip_slug = include.post.categories[1] -%}
{%- assign trip_url = '/' | append: trip_slug | append: '/' -%}
{%- assign trip_page = site.pages | where: 'url', trip_url | first -%}
{%- if trip_page.show_day_count != false -%}
  {%- assign day_offset = 1 -%}
  {%- if trip_page.start_at_zero -%}
    {%- assign day_offset = 0 -%}
  {%- endif -%}
  {%- assign start_date = trip_page.start_date -%}
  {%- if start_date == null -%}
    {%- assign trip_posts = site.categories[trip_slug] | reverse -%}
    {%- assign start_date = trip_posts.first.date -%}
  {%- endif -%}
  {%- assign start_ts = start_date | date: '%s' | plus: 0 -%}
  {%- assign post_ts = include.post.date | date: '%s' | plus: 0 -%}
  {%- if post_ts >= start_ts -%}
    {%- comment -%} ponytail: assumes post dates are always midnight (no time-of-day); if that ever changes, normalize both dates through `| date: '%Y-%m-%d' | date: '%s'` before diffing {%- endcomment -%}
    {%- assign day_diff = post_ts | minus: start_ts | divided_by: 86400 -%}
    {%- assign day_number = day_offset | plus: day_diff -%}
    <span class="day-count">Day {{ day_number }}</span>
  {%- endif -%}
{%- endif -%}
