<article>
  <header class="post-header">
    <{{ include.tag }} class="{{ include.class }}">
      {% if include.link %}
        <a href="{{ include.post.url | prepend: site.baseurl }}">{{ include.post.title }}</a>
      {% else %}
        {{ include.post.title }}
      {% endif %}
    </{{ include.tag }}>
    <div class="post-metadata">
      <time class="date" datetime="{{ include.post.date | date_to_xmlschema }}">
        {{ include.post.date | date: '%B %-d, %Y' }}
      </time>
      {% include day-number.html post=include.post %}
      <span class="post-location">{{ include.post.location | join: ', ' }}</span>
    </div>
  </header>
  {%- assign heading_offset = include.heading_offset | default: 0 -%}
  <div class="post-body">{{ include.post.content | shift_headings: heading_offset }}</div>
</article>
