@use "variables";

.feed {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;

  display: grid;
  gap: 4.5rem;
}
.trip-title {
  @include variables.font-title();
  max-width: 960px;
  padding: 2rem 1rem 1.5rem 1rem;
  margin: 0 auto;
}

.pagination {
  display: flex;

  > * {
    flex-grow: 1;
  }
}
