@use "variables";

article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 2rem;

  /* Medium & Up */
  @media screen and (min-width: variables.$medium-breakpoint) {
    grid-template-columns: 1fr 2fr;
  }
}

.post-header {
  display: flex;
  flex-direction: column;

  /* Medium & Up */
  @media screen and (min-width: variables.$medium-breakpoint) {
    & {
      align-items: end;
    }

    a {
      display: block;
      text-align: right;
    }
  }
}

.post-title {
  @include variables.font-headline();
  margin-bottom: 0.5rem;

  a {
    color: variables.$primary-text;
  }
}

.post-metadata {
  @include variables.font-caption();
  padding-bottom: 0.25rem;

  time,
  .day-count,
  .post-location {
    display: block;
  }
}

.post-body {
  margin-top: 0.5rem;
}

h3 {
  @include variables.font-subhead();
}
