<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <title>another cliché travel blog</title>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body>
    {{ content }}

    <dialog id="lightbox" aria-label="Photo viewer">
      <button id="lightbox-close" aria-label="Close">
        <svg width="32" height="32" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M21.88 23.293L5.614 39.556l.707.707L22.586 24l17.677 17.678.708-.707-17.677-17.677 16.97-16.97-.707-.708-16.97 16.97L7.03 7.03l-.708.707L21.88 23.293z"
            fill="#FFF"
            fill-rule="evenodd"
          />
        </svg>
      </button>
      <figure>
        <img>
      </figure>
    </dialog>
    <script src="/js/travel-blog.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,700" rel="stylesheet">
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        ((i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date()));
        ((a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]));
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-100574076-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
