<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1">
  <title>another cliché travel blog</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
<body>

{{ content }}

<div id="lightbox">
	<figure>
		<img>
	</figure>
</div>
<script src="/js/travel-blog.js"></script>
<link href="https://fonts.googleapis.com/css?family=Cardo:400,400i,700|Montserrat:700" rel="stylesheet">
</body>
</html>