---
layout: default
---

<header>
	<div id="cover">
		<a href="/">
			<div>
				<h1>another cliché travel blog</h1>
				<h2>a badly kept travel journal</h2>
			</div>
		</a>
	</div>
	<nav>
		<button id="show-navigation">
			<span class="plane-icon">✈</span>pick a trip
		</button>
		<ul>
			<li><a href="/banff/">Banff</a></li>
			<li><a href="/kauai-2/">Kauai II</a></li>
			<li><a href="/cuba/">Cuba</a></li>
			<li><a href="/kauai/">Kauai I</a></li>
			<li><a href="/iceland/">Iceland and Norway</a></li>
			<li><a href="/costa-rica/">Costa Rica</a></li>
			<li><a href="/singapore/">Singapore</a></li>
			<li><a href="/india/">India</a></li>
			<li><a href="/thailand/">Thailand</a></li>
			<li><a href="/">All Trips</a></li>
		</ul>
		<button id="hide-navigation">
		<svg width="48" height="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
			<path d="M21.88 23.293L5.614 39.556l.707.707L22.586 24l17.677 17.678.708-.707-17.677-17.677 16.97-16.97-.707-.708-16.97 16.97L7.03 7.03l-.708.707L21.88 23.293z" fill="#FFF" fill-rule="evenodd"/>
		</svg>
		</button>
	</nav>
</header>
{{ content }}