---
layout: default
---

<header>
	<div id="cover" data-image="{{ page.image }}">
		<div>
			<h1>another cliché<br>travel blog</h1>
			<h2>a poorly kept travel journal</h2>
			<button id="show-navigation">see a particular trip</button>
		</div>
	</div>
	<nav>
		<ul>
			<li><a href="/zurich/" id="nav-zurich">Zurich</a></li>
			<li><a href="/azores/" id="nav-azores">Azores</a></li>
			<li><a href="/taiwan/" id="nav-taiwan">Taiwan</a></li>
			<li><a href="/banff/" id="nav-banff">Banff</a></li>
			<li><a href="/kalalau/" id="nav-kalalau">Kalalau</a></li>
			<li><a href="/cuba/" id="nav-cuba">Cuba</a></li>
			<li><a href="/kauai/" id="nav-kauai">Kauai</a></li>
			<li><a href="/iceland/" id="nav-iceland">Iceland and Norway</a></li>
			<li><a href="/costa-rica/" id="nav-costa-rica">Costa Rica</a></li>
			<li><a href="/singapore/" id="nav-singapore">Singapore</a></li>
			<li><a href="/india/" id="nav-india">India</a></li>
			<li><a href="/thailand/"  id="nav-thailand">Thailand</a></li>
			<li><a href="/" id="nav-all">All Trips</a></li>
		</ul>
		<button id="hide-navigation">
			<svg width="48" height="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
				<path d="M21.88 23.293L5.614 39.556l.707.707L22.586 24l17.677 17.678.708-.707-17.677-17.677 16.97-16.97-.707-.708-16.97 16.97L7.03 7.03l-.708.707L21.88 23.293z" fill="#FFF" fill-rule="evenodd"/>
			</svg>
		</button>
	</nav>
</header>
{{ content }}