---
layout: default
---
<style>
  .gallery-image-wrapper{
    width:25%;
    float:left;
    padding:.5rem;
  }

  .gallery-image{
    width:100%;
    transition:all .125s ease;
  }

  .gallery-image:hover{
      box-shadow: 0 0px 20px rgba(0,0,0,.6);
    }
</style>
<h1>
  <a href="/{{ site.gallery.dir }}">{{ page.title }}</a>
</h1>
<div class="grid">
{% for image in page.images %}
    <a href="{{ image }}" class="gallery-image-wrapper">
        <img class="gallery-image" src="thumbs/{{ image }}" >
    </a>
{% endfor %}
</div>
<!--
<script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script>
  var msnry = new Masonry( '.grid', {
    itemSelector: '.gallery-image-wrapper',
    percentPosition: true
});  
</script>
-->